.meter {
  text-align: left;
}

.meter__progress {
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 8px;
}

.meter__progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.meter__label {
  font-size: 14px;
}

.meter__progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.weak::-webkit-progress-value {
  background-color: #e82e38;
  color: #e82e38;
}

span.weak {
  color: #e82e38;
}

.fair::-webkit-progress-value {
  background-color: #fb8906;
}

span.fair {
  color: #e82e38;
}

.good::-webkit-progress-value {
  background-color: #fef200;
}

span.good {
  color: #e82e38;
}

.strong::-webkit-progress-value {
  background-color: #a9d91b;
}

span.strong {
  color: #04a652
}

.strongest::-webkit-progress-value {
  background-color: #04a652;
}

span.strongest {
  color: #04a652;
}